@font-face {
  font-family: "Rajdhani";
  src: url("assets/fonts/rajdhani/rajdhani-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Rajdhani";
  src: url("assets/fonts/rajdhani/rajdhani-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rajdhani";
  src: url("assets/fonts/rajdhani/rajdhani-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rajdhani";
  src: url("assets/fonts/rajdhani/rajdhani-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Rajdhani";
  src: url("assets/fonts/rajdhani/rajdhani-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Rajdhani", sans-serif;
  font-size: 16px;
}

.light-mode body {
  color: map-get($color-scheme-light, "$color-neutral-neutral-0");
}

.dark-mode body {
  color: map-get($color-scheme-dark, "$color-neutral-neutral-0");
}

.heading {
  &__primary {
    font-size: $font-size-title-1;
    line-height: $line-height-title-1;
    font-weight: $font-weight-title-1;
  }

  &__secondary {
    font-size: $font-size-title-2;
    line-height: $line-height-title-2;
    font-weight: $font-weight-title-2;
  }

  &__tertiary {
    font-size: $font-size-title-3;
    line-height: $line-height-title-3;
    font-weight: $font-weight-title-3;
  }

  &__quaternary {
    font-size: $font-size-title-4;
    line-height: $line-height-title-4;
    font-weight: $font-weight-title-4;
  }

  &__quinary {
    font-size: $font-size-title-5;
    line-height: $line-height-title-5;
    font-weight: $font-weight-title-5;
  }

  &__senary {
    font-size: $font-size-title-5;
    line-height: $line-height-title-5;
    font-weight: $font-weight-title-5;
  }
}

.subtitle {
  &__primary {
    font-size: $font-size-subtitle-primary;
    line-height: $line-height-subtitle-primary;
    font-weight: $font-weight-subtitle-primary;
  }

  &__secondary {
    font-size: $font-size-subtitle-secondary;
    line-height: $line-height-subtitle-secondary;
    font-weight: $font-weight-subtitle-secondary;
  }
}

.body {
  &__primary {
    font-size: $font-size-body-primary;
    line-height: $line-height-body-primary;
    font-weight: $font-weight-body-primary;
  }

  &__secondary {
    font-size: $font-size-body-secondary;
    line-height: $line-height-body-secondary;
    font-weight: $font-weight-body-secondary;
  }
}

.button {
  &__primary {
    font-size: $font-size-button-primary;
    line-height: $line-height-button-primary;
    font-weight: $font-weight-button-primary;
  }

  &__secondary {
    font-size: $font-size-button-secondary;
    line-height: $line-height-button-secondary;
    font-weight: $font-weight-button-secondary;
  }
}

.caption {
  &__primary {
    font-size: $font-size-caption-primary;
    line-height: $line-height-caption-primary;
    font-weight: $font-weight-caption-primary;
  }

  &__secondary {
    font-size: $font-size-caption-primary;
    line-height: $line-height-caption-primary;
    font-weight: $font-weight-caption-secondary;
  }
}
