@font-face {
  font-family: "Rajdhani";
  src: url("../../fonts/rajdhani/Rajdhani-light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Rajdhani";
  src: url("../../fonts/rajdhani/Rajdhani-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rajdhani";
  src: url("../../fonts/rajdhani/Rajdhani-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rajdhani";
  src: url("../../fonts/rajdhani/Rajdhani-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Rajdhani";
  src: url("../../fonts/rajdhani/Rajdhani-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Rajdhani", sans-serif;
  font-size: $default-font-size;
  color: $color-neutral-neutral-0;
}

.heading {
  &__primary {
    font-size: $font-size-title-1;
    font-weight: 600;
  }

  &__secondary {
    font-size: $font-size-title-2;
    font-weight: 500;
  }

  &__tertiary {
    font-size: $font-size-title-3;
    font-weight: 600;
  }
}

.subtitle {
  &__primary {
    font-size: $font-size-subtitle;
    font-weight: 600;
  }

  &__secondary {
    font-size: $font-size-subtitle;
    font-style: italic;
  }
}

.body {
  font-weight: 400;

  &__primary {
    font-size: $font-size-body-primary;
  }

  &__secondary {
    font-size: $font-size-body-secondary;
  }
}

.button {
  font-weight: 600;

  &__primary {
    font-size: $font-size-button-primary;
  }

  &__secondary {
    font-size: $font-size-body-secondary;
  }
}

.caption {
  &__primary {
    font-size: $font-size-caption;
    font-weight: 400;
  }

  &__secondary {
    font-size: $font-size-caption;
    font-weight: 600;
  }
}
