@mixin buttonStyles($background, $text-color, $border-color) {
  background-color: $background;
  color: $text-color;
  border: 1px solid $border-color;
}

@mixin toastBeforeStyles($background) {
  content: "";
  height: 100%;
  width: 2%;

  background-color: $background;
  position: absolute;
  top: 0;
  left: 0;
}
