@import "variables-light";
@import "variables-dark";

$color-scheme-light: (
  "$color-brand-primary-0": #6e57f5,
  "$color-brand-primary-1": #e6e1ff,
  "$color-brand-primary-2": #9f8cff,
  "$color-brand-primary-4": #5041a7,
  "$color-brand-primary-3": #5741d6,
  "$color-brand-secondary-0": #e3e935,
  "$color-brand-secondary-1": #fcfec7,
  "$color-brand-secondary-2": #edf262,
  "$color-brand-secondary-3": #c1c626,
  "$color-brand-secondary-4": #969931,
  "$color-neutral-neutral-0": #262626,
  "$color-neutral-neutral-1": #525252,
  "$color-neutral-neutral-2": #666666,
  "$color-neutral-neutral-3": #a3a3a3,
  "$color-neutral-neutral-4": #cccccc,
  "$color-neutral-neutral-5": #e0e0e0,
  "$color-neutral-neutral-6": #f5f5f5,
  "$color-neutral-neutral-7": #ffffff,
  "$color-neutral-neutral-10": rgba(0, 0, 0, 0),
  "$color-feedback-success-0": #2eb84b,
  "$color-feedback-success-1": #d6f5da,
  "$color-feedback-success-2": #80ee97,
  "$color-feedback-success-3": #10a42f,
  "$color-feedback-success-4": #1f7a2a,
  "$color-feedback-danger-0": #ea5c48,
  "$color-feedback-danger-1": #fee7e9,
  "$color-feedback-danger-2": #fb9587,
  "$color-feedback-danger-3": #dc402a,
  "$color-feedback-danger-4": #b81424,
  "$color-feedback-warning-0": #ff800b,
  "$color-feedback-warning-1": #fff2e5,
  "$color-feedback-warning-2": #ffb36d,
  "$color-feedback-warning-3": #ed7200,
  "$color-feedback-warning-4": #dc5f00,
  "$color-background-button-primary-basic-enabled": #6e57f5,
  "$color-background-button-primary-basic-hover": #e6e1ff,
  "$color-background-button-primary-basic-disabled": #a3a3a3,
  "$color-background-button-primary-outline-enabled": rgba(0, 0, 0, 0),
  "$color-background-button-primary-outline-hover": rgba(0, 0, 0, 0),
  "$color-background-button-primary-outline-disabled": rgba(0, 0, 0, 0),
  "$color-background-button-primary-text-enabled": rgba(0, 0, 0, 0),
  "$color-background-button-primary-text-hover": #e6e1ff,
  "$color-background-button-primary-text-disabled": rgba(0, 0, 0, 0),
  "$color-background-button-secondary-basic-enabled": #262626,
  "$color-background-button-secondary-basic-hover": #525252,
  "$color-background-button-secondary-basic-disabled": #a3a3a3,
  "$color-background-button-secondary-outline-enabled": rgba(0, 0, 0, 0),
  "$color-background-button-secondary-outline-hover": rgba(0, 0, 0, 0),
  "$color-background-button-secondary-outline-disabled": rgba(0, 0, 0, 0),
  "$color-background-button-secondary-text-enabled": rgba(0, 0, 0, 0),
  "$color-background-button-secondary-text-hover": #525252,
  "$color-background-button-secondary-text-disabled": rgba(0, 0, 0, 0),
  "$color-background-button-success-basic-enabled": #2eb84b,
  "$color-background-button-success-basic-hover": #d6f5da,
  "$color-background-button-success-basic-disabled": #a3a3a3,
  "$color-background-button-success-outline-enabled": rgba(0, 0, 0, 0),
  "$color-background-button-success-outline-hover": rgba(0, 0, 0, 0),
  "$color-background-button-success-outline-disabled": rgba(0, 0, 0, 0),
  "$color-background-button-success-text-enabled": rgba(0, 0, 0, 0),
  "$color-background-button-success-text-hover": #d6f5da,
  "$color-background-button-success-text-disabled": rgba(0, 0, 0, 0),
  "$color-background-button-danger-basic-enabled": #ea5c48,
  "$color-background-button-danger-basic-hover": #fee7e9,
  "$color-background-button-danger-basic-disabled": #a3a3a3,
  "$color-background-button-danger-outline-enabled": rgba(0, 0, 0, 0),
  "$color-background-button-danger-outline-hover": rgba(0, 0, 0, 0),
  "$color-background-button-danger-outline-disabled": rgba(0, 0, 0, 0),
  "$color-background-button-danger-text-enabled": rgba(0, 0, 0, 0),
  "$color-background-button-danger-text-hover": #fee7e9,
  "$color-background-button-danger-text-disabled": rgba(0, 0, 0, 0),
  "$color-background-button-warning-basic-enabled": #ff800b,
  "$color-background-button-warning-basic-hover": #fff2e5,
  "$color-background-button-warning-basic-disabled": #a3a3a3,
  "$color-background-button-warning-outline-enabled": rgba(0, 0, 0, 0),
  "$color-background-button-warning-outline-hover": rgba(0, 0, 0, 0),
  "$color-background-button-warning-outline-disabled": rgba(0, 0, 0, 0),
  "$color-background-button-warning-text-enabled": rgba(0, 0, 0, 0),
  "$color-background-button-warning-text-hover": #fff2e5,
  "$color-background-button-warning-text-disabled": rgba(0, 0, 0, 0),
  "$color-background-button-info-basic-enabled": #e3e935,
  "$color-background-button-info-basic-hover": #fcfec7,
  "$color-background-button-info-basic-disabled": #a3a3a3,
  "$color-background-button-info-outline-enabled": rgba(0, 0, 0, 0),
  "$color-background-button-info-outline-hover": rgba(0, 0, 0, 0),
  "$color-background-button-info-outline-disabled": rgba(0, 0, 0, 0),
  "$color-background-button-info-text-enabled": rgba(0, 0, 0, 0),
  "$color-background-button-info-text-hover": #fcfec7,
  "$color-background-button-info-text-disabled": rgba(0, 0, 0, 0),
  "$color-background-megamenu-base-default": #ffffff,
  "$color-background-megamenu-context-menu-default": #ffffff,
  "$color-background-megamenu-context-menu-hover": #e6e1ff,
  "$color-background-megamenu-item-default": #ffffff,
  "$color-background-megamenu-item-hover": #e6e1ff,
  "$color-border-button-primary-basic-enabled": #6e57f5,
  "$color-border-button-primary-basic-hover": #e6e1ff,
  "$color-border-button-primary-basic-disabled": #a3a3a3,
  "$color-border-button-primary-outline-enabled": #6e57f5,
  "$color-border-button-primary-outline-hover": #e6e1ff,
  "$color-border-button-primary-outline-disabled": #a3a3a3,
  "$color-border-button-primary-text-enabled": rgba(0, 0, 0, 0),
  "$color-border-button-primary-text-hover": #e6e1ff,
  "$color-border-button-primary-text-disabled": rgba(0, 0, 0, 0),
  "$color-border-button-secondary-basic-enabled": #262626,
  "$color-border-button-secondary-basic-hover": #525252,
  "$color-border-button-secondary-basic-disabled": #a3a3a3,
  "$color-border-button-secondary-outline-enabled": #262626,
  "$color-border-button-secondary-outline-hover": #525252,
  "$color-border-button-secondary-outline-disabled": #a3a3a3,
  "$color-border-button-secondary-text-enabled": rgba(0, 0, 0, 0),
  "$color-border-button-secondary-text-hover": #525252,
  "$color-border-button-secondary-text-disabled": rgba(0, 0, 0, 0),
  "$color-border-button-success-basic-enabled": #2eb84b,
  "$color-border-button-success-basic-hover": #d6f5da,
  "$color-border-button-success-basic-disabled": #a3a3a3,
  "$color-border-button-success-outline-enabled": #2eb84b,
  "$color-border-button-success-outline-hover": #d6f5da,
  "$color-border-button-success-outline-disabled": #a3a3a3,
  "$color-border-button-success-text-enabled": rgba(0, 0, 0, 0),
  "$color-border-button-success-text-hover": #d6f5da,
  "$color-border-button-success-text-disabled": rgba(0, 0, 0, 0),
  "$color-border-button-danger-basic-enabled": #ea5c48,
  "$color-border-button-danger-basic-hover": #fee7e9,
  "$color-border-button-danger-basic-disabled": #a3a3a3,
  "$color-border-button-danger-outline-enabled": #ea5c48,
  "$color-border-button-danger-outline-hover": #fee7e9,
  "$color-border-button-danger-outline-disabled": #a3a3a3,
  "$color-border-button-danger-text-enabled": rgba(0, 0, 0, 0),
  "$color-border-button-danger-text-hover": #fee7e9,
  "$color-border-button-danger-text-disabled": rgba(0, 0, 0, 0),
  "$color-border-button-warning-basic-enabled": #ff800b,
  "$color-border-button-warning-basic-hover": #fff2e5,
  "$color-border-button-warning-basic-disabled": #a3a3a3,
  "$color-border-button-warning-outline-enabled": #ff800b,
  "$color-border-button-warning-outline-hover": #fff2e5,
  "$color-border-button-warning-outline-disabled": #a3a3a3,
  "$color-border-button-warning-text-enabled": rgba(0, 0, 0, 0),
  "$color-border-button-warning-text-hover": #fff2e5,
  "$color-border-button-warning-text-disabled": rgba(0, 0, 0, 0),
  "$color-border-button-info-outline-enabled": #e3e935,
  "$color-border-button-info-outline-hover": #fcfec7,
  "$color-border-button-info-outline-disabled": #a3a3a3,
  "$color-border-button-info-text-enabled": rgba(0, 0, 0, 0),
  "$color-border-button-info-text-hover": #fcfec7,
  "$color-border-button-info-text-disabled": rgba(0, 0, 0, 0),
  "$color-border-button-info-basic-enabled": #e3e935,
  "$color-border-button-info-basic-hover": #fcfec7,
  "$color-border-button-info-basic-disabled": #a3a3a3,
  "$color-border-megamenu-base-default": #ffffff,
  "$color-border-megamenu-context-menu-default": #ffffff,
  "$color-border-megamenu-section-item-hover": #e6e1ff,
  "$color-text-button-primary-basic-enabled": #ffffff,
  "$color-text-button-primary-basic-hover": #ffffff,
  "$color-text-button-primary-basic-disabled": #ffffff,
  "$color-text-button-primary-outline-enabled": #6e57f5,
  "$color-text-button-primary-outline-hover": #e6e1ff,
  "$color-text-button-primary-outline-disabled": #a3a3a3,
  "$color-text-button-primary-text-enabled": #6e57f5,
  "$color-text-button-primary-text-hover": #ffffff,
  "$color-text-button-primary-text-disabled": #a3a3a3,
  "$color-text-button-secondary-basic-enabled": #ffffff,
  "$color-text-button-secondary-basic-hover": #ffffff,
  "$color-text-button-secondary-basic-disabled": #ffffff,
  "$color-text-button-secondary-outline-enabled": #262626,
  "$color-text-button-secondary-outline-hover": #525252,
  "$color-text-button-secondary-outline-disabled": #a3a3a3,
  "$color-text-button-secondary-text-enabled": #262626,
  "$color-text-button-secondary-text-hover": #ffffff,
  "$color-text-button-secondary-text-disabled": #a3a3a3,
  "$color-text-button-success-basic-enabled": #ffffff,
  "$color-text-button-success-basic-hover": #ffffff,
  "$color-text-button-success-basic-disabled": #ffffff,
  "$color-text-button-success-outline-enabled": #2eb84b,
  "$color-text-button-success-outline-hover": #d6f5da,
  "$color-text-button-success-outline-disabled": #a3a3a3,
  "$color-text-button-success-text-enabled": #2eb84b,
  "$color-text-button-success-text-hover": #ffffff,
  "$color-text-button-success-text-disabled": #a3a3a3,
  "$color-text-button-danger-basic-enabled": #ffffff,
  "$color-text-button-danger-basic-hover": #ffffff,
  "$color-text-button-danger-basic-disabled": #ffffff,
  "$color-text-button-danger-outline-enabled": #ea5c48,
  "$color-text-button-danger-outline-hover": #fee7e9,
  "$color-text-button-danger-outline-disabled": #a3a3a3,
  "$color-text-button-danger-text-enabled": #ea5c48,
  "$color-text-button-danger-text-hover": #ffffff,
  "$color-text-button-danger-text-disabled": #a3a3a3,
  "$color-text-button-warning-basic-enabled": #ffffff,
  "$color-text-button-warning-basic-hover": #ffffff,
  "$color-text-button-warning-basic-disabled": #ffffff,
  "$color-text-button-warning-outline-enabled": #ff800b,
  "$color-text-button-warning-outline-hover": #fff2e5,
  "$color-text-button-warning-outline-disabled": #a3a3a3,
  "$color-text-button-warning-text-enabled": #ff800b,
  "$color-text-button-warning-text-hover": #ffffff,
  "$color-text-button-warning-text-disabled": #a3a3a3,
  "$color-text-button-info-outline-enabled": #e3e935,
  "$color-text-button-info-outline-hover": #fcfec7,
  "$color-text-button-info-outline-disabled": #a3a3a3,
  "$color-text-button-info-text-enabled": #e3e935,
  "$color-text-button-info-text-hover": #ffffff,
  "$color-text-button-info-text-disabled": #a3a3a3,
  "$color-text-button-info-basic-enabled": #ffffff,
  "$color-text-button-info-basic-hover": #ffffff,
  "$color-text-button-info-basic-disabled": #ffffff,
  "$color-text-megamenu-item-default": #262626,
  "$color-text-megamenu-item-hover": #6e57f5,
  "$color-text-megamenu-section-default": #262626,
  "$color-text-megamenu-section-item-default": #262626,
  "$color-text-megamenu-section-item-hover": #6e57f5,
  "$color-surface-surface-0": #585379,
  "$color-surface-surface-1": #8b86ac,
  "$color-surface-surface-2": #b6b3cb,
  "$color-surface-surface-3": #d2cfe2,
  "$color-surface-surface-4": #e9e7f3,
  "$color-surface-surface-5": #f6f5ff,
);

$color-scheme-dark: (
  "$color-brand-primary-0": #9787f8,
  "$color-brand-primary-1": #1f1b34,
  "$color-brand-primary-2": #b1a3fa,
  "$color-brand-primary-4": #7d6cdf,
  "$color-brand-primary-3": #695abf,
  "$color-brand-secondary-0": #f0f391,
  "$color-brand-secondary-1": #585b01,
  "$color-brand-secondary-2": #9a9f02,
  "$color-brand-secondary-3": #eaee64,
  "$color-brand-secondary-4": #969931,
  "$color-neutral-neutral-0": #fafafa,
  "$color-neutral-neutral-1": #f5f5f5,
  "$color-neutral-neutral-2": #e0e0e0,
  "$color-neutral-neutral-3": #cccccc,
  "$color-neutral-neutral-4": #a3a3a3,
  "$color-neutral-neutral-5": #666666,
  "$color-neutral-neutral-6": #525252,
  "$color-neutral-neutral-7": #262626,
  "$color-neutral-neutral-10": rgba(0, 0, 0, 0),
  "$color-feedback-success-0": #a5e8b3,
  "$color-feedback-success-1": #08240c,
  "$color-feedback-success-2": #0e7223,
  "$color-feedback-success-3": #5bed79,
  "$color-feedback-success-4": #5dd96c,
  "$color-feedback-danger-0": #f6bbb3,
  "$color-feedback-danger-1": #5b030b,
  "$color-feedback-danger-2": #8d1403,
  "$color-feedback-danger-3": #e77e6f,
  "$color-feedback-danger-4": #f8bbc1,
  "$color-feedback-warning-0": #ffc690,
  "$color-feedback-warning-1": #4a2300,
  "$color-feedback-warning-2": #944701,
  "$color-feedback-warning-3": #ff9738,
  "$color-feedback-warning-4": #ffa560,
  "$color-background-button-primary-basic-enabled": #9787f8,
  "$color-background-button-primary-basic-hover": #1f1b34,
  "$color-background-button-primary-basic-disabled": #cccccc,
  "$color-background-button-primary-outline-enabled": rgba(0, 0, 0, 0),
  "$color-background-button-primary-outline-hover": rgba(0, 0, 0, 0),
  "$color-background-button-primary-outline-disabled": rgba(0, 0, 0, 0),
  "$color-background-button-primary-text-enabled": rgba(0, 0, 0, 0),
  "$color-background-button-primary-text-hover": #1f1b34,
  "$color-background-button-primary-text-disabled": rgba(0, 0, 0, 0),
  "$color-background-button-secondary-basic-enabled": #fafafa,
  "$color-background-button-secondary-basic-hover": #f5f5f5,
  "$color-background-button-secondary-basic-disabled": #cccccc,
  "$color-background-button-secondary-outline-enabled": rgba(0, 0, 0, 0),
  "$color-background-button-secondary-outline-hover": rgba(0, 0, 0, 0),
  "$color-background-button-secondary-outline-disabled": rgba(0, 0, 0, 0),
  "$color-background-button-secondary-text-enabled": rgba(0, 0, 0, 0),
  "$color-background-button-secondary-text-hover": #f5f5f5,
  "$color-background-button-secondary-text-disabled": rgba(0, 0, 0, 0),
  "$color-background-button-success-basic-enabled": #a5e8b3,
  "$color-background-button-success-basic-hover": #08240c,
  "$color-background-button-success-basic-disabled": #cccccc,
  "$color-background-button-success-outline-enabled": rgba(0, 0, 0, 0),
  "$color-background-button-success-outline-hover": rgba(0, 0, 0, 0),
  "$color-background-button-success-outline-disabled": rgba(0, 0, 0, 0),
  "$color-background-button-success-text-enabled": rgba(0, 0, 0, 0),
  "$color-background-button-success-text-hover": #08240c,
  "$color-background-button-success-text-disabled": rgba(0, 0, 0, 0),
  "$color-background-button-danger-basic-enabled": #f6bbb3,
  "$color-background-button-danger-basic-hover": #5b030b,
  "$color-background-button-danger-basic-disabled": #cccccc,
  "$color-background-button-danger-outline-enabled": rgba(0, 0, 0, 0),
  "$color-background-button-danger-outline-hover": rgba(0, 0, 0, 0),
  "$color-background-button-danger-outline-disabled": rgba(0, 0, 0, 0),
  "$color-background-button-danger-text-enabled": rgba(0, 0, 0, 0),
  "$color-background-button-danger-text-hover": #5b030b,
  "$color-background-button-danger-text-disabled": rgba(0, 0, 0, 0),
  "$color-background-button-warning-basic-enabled": #ffc690,
  "$color-background-button-warning-basic-hover": #4a2300,
  "$color-background-button-warning-basic-disabled": #cccccc,
  "$color-background-button-warning-outline-enabled": rgba(0, 0, 0, 0),
  "$color-background-button-warning-outline-hover": rgba(0, 0, 0, 0),
  "$color-background-button-warning-outline-disabled": rgba(0, 0, 0, 0),
  "$color-background-button-warning-text-enabled": rgba(0, 0, 0, 0),
  "$color-background-button-warning-text-hover": #4a2300,
  "$color-background-button-warning-text-disabled": rgba(0, 0, 0, 0),
  "$color-background-button-info-basic-enabled": #f0f391,
  "$color-background-button-info-basic-hover": #585b01,
  "$color-background-button-info-basic-disabled": #cccccc,
  "$color-background-button-info-outline-enabled": rgba(0, 0, 0, 0),
  "$color-background-button-info-outline-hover": rgba(0, 0, 0, 0),
  "$color-background-button-info-outline-disabled": rgba(0, 0, 0, 0),
  "$color-background-button-info-text-enabled": rgba(0, 0, 0, 0),
  "$color-background-button-info-text-hover": #585b01,
  "$color-background-button-info-text-disabled": rgba(0, 0, 0, 0),
  "$color-background-megamenu-base-default": #262626,
  "$color-background-megamenu-context-menu-default": #262626,
  "$color-background-megamenu-context-menu-hover": #1f1b34,
  "$color-background-megamenu-item-default": #262626,
  "$color-background-megamenu-item-hover": #1f1b34,
  "$color-border-button-primary-basic-enabled": #9787f8,
  "$color-border-button-primary-basic-hover": #1f1b34,
  "$color-border-button-primary-basic-disabled": #cccccc,
  "$color-border-button-primary-outline-enabled": #9787f8,
  "$color-border-button-primary-outline-hover": #1f1b34,
  "$color-border-button-primary-outline-disabled": #cccccc,
  "$color-border-button-primary-text-enabled": rgba(0, 0, 0, 0),
  "$color-border-button-primary-text-hover": #1f1b34,
  "$color-border-button-primary-text-disabled": rgba(0, 0, 0, 0),
  "$color-border-button-secondary-basic-enabled": #fafafa,
  "$color-border-button-secondary-basic-hover": #f5f5f5,
  "$color-border-button-secondary-basic-disabled": #cccccc,
  "$color-border-button-secondary-outline-enabled": #fafafa,
  "$color-border-button-secondary-outline-hover": #f5f5f5,
  "$color-border-button-secondary-outline-disabled": #cccccc,
  "$color-border-button-secondary-text-enabled": rgba(0, 0, 0, 0),
  "$color-border-button-secondary-text-hover": #f5f5f5,
  "$color-border-button-secondary-text-disabled": rgba(0, 0, 0, 0),
  "$color-border-button-success-basic-enabled": #a5e8b3,
  "$color-border-button-success-basic-hover": #08240c,
  "$color-border-button-success-basic-disabled": #cccccc,
  "$color-border-button-success-outline-enabled": #a5e8b3,
  "$color-border-button-success-outline-hover": #08240c,
  "$color-border-button-success-outline-disabled": #cccccc,
  "$color-border-button-success-text-enabled": rgba(0, 0, 0, 0),
  "$color-border-button-success-text-hover": #08240c,
  "$color-border-button-success-text-disabled": rgba(0, 0, 0, 0),
  "$color-border-button-danger-basic-enabled": #f6bbb3,
  "$color-border-button-danger-basic-hover": #5b030b,
  "$color-border-button-danger-basic-disabled": #cccccc,
  "$color-border-button-danger-outline-enabled": #f6bbb3,
  "$color-border-button-danger-outline-hover": #5b030b,
  "$color-border-button-danger-outline-disabled": #cccccc,
  "$color-border-button-danger-text-enabled": rgba(0, 0, 0, 0),
  "$color-border-button-danger-text-hover": #5b030b,
  "$color-border-button-danger-text-disabled": rgba(0, 0, 0, 0),
  "$color-border-button-warning-basic-enabled": #ffc690,
  "$color-border-button-warning-basic-hover": #4a2300,
  "$color-border-button-warning-basic-disabled": #cccccc,
  "$color-border-button-warning-outline-enabled": #ffc690,
  "$color-border-button-warning-outline-hover": #4a2300,
  "$color-border-button-warning-outline-disabled": #cccccc,
  "$color-border-button-warning-text-enabled": rgba(0, 0, 0, 0),
  "$color-border-button-warning-text-hover": #4a2300,
  "$color-border-button-warning-text-disabled": rgba(0, 0, 0, 0),
  "$color-border-button-info-outline-enabled": #f0f391,
  "$color-border-button-info-outline-hover": #585b01,
  "$color-border-button-info-outline-disabled": #cccccc,
  "$color-border-button-info-text-enabled": rgba(0, 0, 0, 0),
  "$color-border-button-info-text-hover": #585b01,
  "$color-border-button-info-text-disabled": rgba(0, 0, 0, 0),
  "$color-border-button-info-basic-enabled": #f0f391,
  "$color-border-button-info-basic-hover": #585b01,
  "$color-border-button-info-basic-disabled": #cccccc,
  "$color-border-megamenu-base-default": #262626,
  "$color-border-megamenu-context-menu-default": #262626,
  "$color-border-megamenu-section-item-hover": #1f1b34,
  "$color-text-button-primary-basic-enabled": #262626,
  "$color-text-button-primary-basic-hover": #262626,
  "$color-text-button-primary-basic-disabled": #262626,
  "$color-text-button-primary-outline-enabled": #9787f8,
  "$color-text-button-primary-outline-hover": #1f1b34,
  "$color-text-button-primary-outline-disabled": #cccccc,
  "$color-text-button-primary-text-enabled": #9787f8,
  "$color-text-button-primary-text-hover": #262626,
  "$color-text-button-primary-text-disabled": #cccccc,
  "$color-text-button-secondary-basic-enabled": #262626,
  "$color-text-button-secondary-basic-hover": #262626,
  "$color-text-button-secondary-basic-disabled": #262626,
  "$color-text-button-secondary-outline-enabled": #fafafa,
  "$color-text-button-secondary-outline-hover": #f5f5f5,
  "$color-text-button-secondary-outline-disabled": #cccccc,
  "$color-text-button-secondary-text-enabled": #fafafa,
  "$color-text-button-secondary-text-hover": #262626,
  "$color-text-button-secondary-text-disabled": #cccccc,
  "$color-text-button-success-basic-enabled": #262626,
  "$color-text-button-success-basic-hover": #262626,
  "$color-text-button-success-basic-disabled": #262626,
  "$color-text-button-success-outline-enabled": #a5e8b3,
  "$color-text-button-success-outline-hover": #08240c,
  "$color-text-button-success-outline-disabled": #cccccc,
  "$color-text-button-success-text-enabled": #a5e8b3,
  "$color-text-button-success-text-hover": #262626,
  "$color-text-button-success-text-disabled": #cccccc,
  "$color-text-button-danger-basic-enabled": #262626,
  "$color-text-button-danger-basic-hover": #262626,
  "$color-text-button-danger-basic-disabled": #262626,
  "$color-text-button-danger-outline-enabled": #f6bbb3,
  "$color-text-button-danger-outline-hover": #5b030b,
  "$color-text-button-danger-outline-disabled": #cccccc,
  "$color-text-button-danger-text-enabled": #f6bbb3,
  "$color-text-button-danger-text-hover": #262626,
  "$color-text-button-danger-text-disabled": #cccccc,
  "$color-text-button-warning-basic-enabled": #262626,
  "$color-text-button-warning-basic-hover": #262626,
  "$color-text-button-warning-basic-disabled": #262626,
  "$color-text-button-warning-outline-enabled": #ffc690,
  "$color-text-button-warning-outline-hover": #4a2300,
  "$color-text-button-warning-outline-disabled": #cccccc,
  "$color-text-button-warning-text-enabled": #ffc690,
  "$color-text-button-warning-text-hover": #262626,
  "$color-text-button-warning-text-disabled": #cccccc,
  "$color-text-button-info-outline-enabled": #f0f391,
  "$color-text-button-info-outline-hover": #585b01,
  "$color-text-button-info-outline-disabled": #cccccc,
  "$color-text-button-info-text-enabled": #f0f391,
  "$color-text-button-info-text-hover": #262626,
  "$color-text-button-info-text-disabled": #cccccc,
  "$color-text-button-info-basic-enabled": #262626,
  "$color-text-button-info-basic-hover": #262626,
  "$color-text-button-info-basic-disabled": #262626,
  "$color-text-megamenu-item-default": #fafafa,
  "$color-text-megamenu-item-hover": #9787f8,
  "$color-text-megamenu-section-default": #fafafa,
  "$color-text-megamenu-section-item-default": #fafafa,
  "$color-text-megamenu-section-item-hover": #9787f8,
  "$color-surface-surface-0": #746bad,
  "$color-surface-surface-1": #6b61ad,
  "$color-surface-surface-2": #615997,
  "$color-surface-surface-3": #4c4668,
  "$color-surface-surface-4": #282534,
  "$color-surface-surface-5": #16151e,
);

// Border / Box Shadows
$border-light: 1px solid
  map-get($color-scheme-light, "$color-surface-surface-4");
$border-dark: 1px solid map-get($color-scheme-dark, "$color-surface-surface-4");

$box-shadow-light: 0 0.2rem 1rem #e9e5ff;
$box-shadow-dark: 0 0.2rem 1rem #191729;
$box-shadow-calendar-panel-light: 0px 0px 7px 0px #47474733;

$border-radius: 0.8rem;

// Fonts
$font-size-title-1: 4rem;
$line-height-title-1: 5.3rem;
$font-weight-title-1: 700;

$font-size-title-2: 3.5rem;
$line-height-title-2: 4.2rem;
$font-weight-title-2: 700;

$font-size-title-3: 2.8rem;
$line-height-title-3: 3.6rem;
$font-weight-title-3: 600;

$font-size-title-4: 2.3rem;
$line-height-title-4: 3.2rem;
$font-weight-title-4: 600;

$font-size-title-5: 1.8rem;
$line-height-title-5: 2.7rem;
$font-weight-title-5: 600;

$font-size-title-6: 1.8rem;
$line-height-title-6: 2.1rem;
$font-weight-title-6: 700;

$font-size-subtitle-primary: 2.1rem;
$line-height-subtitle-primary: 2.7rem;
$font-weight-subtitle-primary: 700;

$font-size-subtitle-secondary: 2.1rem;
$line-height-subtitle-secondary: 2.7rem;
$font-weight-subtitle-secondary: 400;

$font-size-body-primary: 1.9rem;
$line-height-body-primary: 2.4rem;
$font-weight-body-primary: 500;

$font-size-body-secondary: 1.6rem;
$line-height-body-secondary: 2.1rem;
$font-weight-body-secondary: 500;

$font-size-button-primary: 1.9rem;
$line-height-button-primary: 2.4rem;
$font-weight-button-primary: 700;

$font-size-button-secondary: 1.6rem;
$line-height-button-secondary: 2.4rem;
$font-weight-button-secondary: 700;

$font-size-caption-primary: 1.4rem;
$line-height-caption-primary: 1.8rem;
$font-weight-caption-primary: 500;
$font-weight-caption-secondary: 600;

// BUTTON
$button-border-radius: 10rem;
$button-padding: 1rem 1.8rem;
