::selection {
  background-color: $color-brand-primary-0;
  color: $color-brand-primary-1;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines 1rem
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px; 9px/16px = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px; 8px/16px = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px; 12px/16px = 75%
  }
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

hr {
  margin: 4rem 0;
}

.table .p-hidden-accessible {
  all: unset;
}

.light-mode [data-pc-section="column.transition"] {
  width: 24rem;
  background-color: map-get($color-scheme-light, "$color-neutral-neutral-7");
  border-radius: 0.8rem;
  box-shadow: $box-shadow-light;
}

.dark-mode [data-pc-section="column.transition"] {
  width: 24rem;
  background-color: map-get($color-scheme-dark, "$color-neutral-neutral-7");
  border-radius: 0.8rem;
  box-shadow: $box-shadow-dark;
}

.tooltip {
  min-width: max-content;
  padding: 0.8rem 1.2rem;
  font-weight: 500;
  font-size: $font-size-body-primary;
  line-height: $line-height-body-primary;
  border-radius: 0.8rem;
  background: map-get($color-scheme-light, "$color-neutral-neutral-1");
  color: map-get($color-scheme-light, "$color-neutral-neutral-7");

  z-index: 9999;
  position: absolute;
  top: -50%;

  &::after {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    background: white;

    z-index: 1000;
    position: absolute;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%);
    clip-path: polygon(0 0%, 50% 70%, 100% 0%);
    background: map-get($color-scheme-light, "$color-neutral-neutral-1");
  }
}

.dark-mode .tooltip {
  background: map-get($color-scheme-dark, "$color-neutral-neutral-1");
  color: map-get($color-scheme-dark, "$color-neutral-neutral-7");

  &::after {
    background: map-get($color-scheme-dark, "$color-neutral-neutral-1");
    color: map-get($color-scheme-dark, "$color-neutral-neutral-7");
  }
}
