::selection {
  background-color: $color-brand-primary-0;
  color: $color-brand-primary-1;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines 1rem
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;

  @supports selector(::-webkit-scrollbar) {
    ::-webkit-scrollbar {
      width: 5px;
      height: 4px;
      background-color: map-get(
        $color-scheme-light,
        "$color-neutral-neutral-6"
      );
    }
    ::-webkit-scrollbar-thumb {
      width: 100%;
      border-radius: 8px;

      background: map-get($color-scheme-light, "$color-neutral-neutral-3");
    }
  }
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

hr {
  margin: 4rem 0;
}

.table .p-hidden-accessible {
  all: unset;
}

.light-mode [data-pc-section="column.transition"] {
  width: 24rem;
  background-color: map-get($color-scheme-light, "$color-neutral-neutral-7");
  border-radius: 0.8rem;
  box-shadow: $box-shadow-light;
}

.dark-mode [data-pc-section="column.transition"] {
  width: 24rem;
  background-color: map-get($color-scheme-dark, "$color-neutral-neutral-7");
  border-radius: 0.8rem;
  box-shadow: $box-shadow-dark;
}

.tooltip {
  min-width: max-content;
  padding: 0.8rem 1.2rem;
  font-weight: 500;
  font-size: $font-size-body-primary;
  line-height: $line-height-body-primary;
  border-radius: 0.8rem;
  background: map-get($color-scheme-light, "$color-neutral-neutral-1");
  color: map-get($color-scheme-light, "$color-neutral-neutral-7");
}

.dark-mode .tooltip {
  background: map-get($color-scheme-dark, "$color-neutral-neutral-1");
  color: map-get($color-scheme-dark, "$color-neutral-neutral-7");
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
