.btn {
  &,
  &:link,
  &:visited {
    width: 100%;

    cursor: pointer;
    text-decoration: none;
    position: relative;
    transition: all 0.2s;
    font-family: inherit;

    padding: $button-padding;
    border-radius: $button-border-radius;

    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 8px;

    font-size: $font-size-button-primary;
    line-height: $line-height-button-primary;
    font-weight: $font-weight-button-primary;
  }

  &__icon {
    font-size: 15px;

    &--loading {
      animation: rotation 1s linear infinite;
    }
  }

  &__primary {
    @include buttonStyles(
      map-get($color-scheme-light, "$color-brand-primary-0"),
      map-get($color-scheme-light, "$color-neutral-neutral-7"),
      map-get($color-scheme-light, "$color-brand-primary-0")
    );

    &:hover {
      @include buttonStyles(
        map-get($color-scheme-light, "$color-brand-primary-3"),
        map-get($color-scheme-light, "$color-neutral-neutral-7"),
        map-get($color-scheme-light, "$color-brand-primary-3")
      );
    }

    &:focus {
      @include buttonStyles(
        map-get($color-scheme-light, "$color-brand-primary-3"),
        map-get($color-scheme-light, "$color-neutral-neutral-7"),
        map-get($color-scheme-light, "$color-brand-primary-3")
      );
    }

    &:disabled {
      @include buttonStyles(
        map-get($color-scheme-light, "$color-neutral-neutral-3"),
        map-get($color-scheme-light, "$color-neutral-neutral-7"),
        map-get($color-scheme-light, "$color-neutral-neutral-3")
      );
    }

    &--outlined {
      @include buttonStyles(
        transparent,
        map-get($color-scheme-light, "$color-brand-primary-0"),
        map-get($color-scheme-light, "$color-brand-primary-0")
      );

      &:hover {
        @include buttonStyles(
          map-get($color-scheme-light, "$color-brand-primary-1"),
          map-get($color-scheme-light, "$color-brand-primary-0"),
          map-get($color-scheme-light, "$color-brand-primary-0")
        );
      }

      &:focus {
        @include buttonStyles(
          transparent,
          map-get($color-scheme-light, "$color-brand-primary-0"),
          map-get($color-scheme-light, "$color-neutral-neutral-3")
        );
      }

      &:disabled {
        @include buttonStyles(
          transparent,
          map-get($color-scheme-light, "$color-neutral-neutral-3"),
          map-get($color-scheme-light, "$color-neutral-neutral-3")
        );
      }
    }

    &--text {
      @include buttonStyles(
        transparent,
        map-get($color-scheme-light, "$color-brand-primary-0"),
        transparent
      );

      &:hover {
        @include buttonStyles(
          map-get($color-scheme-light, "$color-brand-primary-1"),
          map-get($color-scheme-light, "$color-brand-primary-0"),
          transparent
        );
      }

      &:focus {
        @include buttonStyles(
          transparent,
          map-get($color-scheme-light, "$color-brand-primary-0"),
          map-get($color-scheme-light, "$color-neutral-neutral-3")
        );
      }

      &:disabled {
        @include buttonStyles(
          transparent,
          map-get($color-scheme-light, "$color-neutral-neutral-3"),
          transparent
        );
      }
    }
  }

  .dark-mode &__primary {
    @include buttonStyles(
      map-get($color-scheme-dark, "$color-brand-primary-0"),
      map-get($color-scheme-dark, "$color-neutral-neutral-7"),
      map-get($color-scheme-dark, "$color-brand-primary-0")
    );

    &:hover {
      @include buttonStyles(
        map-get($color-scheme-dark, "$color-brand-primary-3"),
        map-get($color-scheme-dark, "$color-neutral-neutral-7"),
        map-get($color-scheme-dark, "$color-brand-primary-3")
      );
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0.5rem
        map-get($color-scheme-dark, "$color-brand-primary-0");
      @include buttonStyles(
        map-get($color-scheme-dark, "$color-brand-primary-3"),
        map-get($color-scheme-dark, "$color-neutral-neutral-7"),
        map-get($color-scheme-dark, "$color-brand-primary-3")
      );
    }

    &:disabled {
      @include buttonStyles(
        map-get($color-scheme-dark, "$color-neutral-neutral-3"),
        map-get($color-scheme-dark, "$color-neutral-neutral-7"),
        map-get($color-scheme-dark, "$color-neutral-neutral-3")
      );
    }

    &--outlined {
      @include buttonStyles(
        transparent,
        map-get($color-scheme-dark, "$color-brand-primary-0"),
        map-get($color-scheme-dark, "$color-brand-primary-0")
      );

      &:hover {
        @include buttonStyles(
          map-get($color-scheme-dark, "$color-brand-primary-1"),
          map-get($color-scheme-dark, "$color-brand-primary-0"),
          map-get($color-scheme-dark, "$color-brand-primary-0")
        );
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0.5rem
          map-get($color-scheme-dark, "$color-brand-primary-0");
        @include buttonStyles(
          transparent,
          map-get($color-scheme-dark, "$color-brand-primary-0"),
          map-get($color-scheme-dark, "$color-neutral-neutral-3")
        );
      }

      &:disabled {
        @include buttonStyles(
          transparent,
          map-get($color-scheme-dark, "$color-neutral-neutral-3"),
          map-get($color-scheme-dark, "$color-neutral-neutral-3")
        );
      }
    }

    &--text {
      @include buttonStyles(
        transparent,
        map-get($color-scheme-dark, "$color-brand-primary-0"),
        transparent
      );

      &:hover {
        @include buttonStyles(
          map-get($color-scheme-dark, "$color-brand-primary-1"),
          map-get($color-scheme-dark, "$color-brand-primary-0"),
          transparent
        );
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 5px
          map-get($color-scheme-dark, "$color-brand-primary-0");
        @include buttonStyles(
          transparent,
          map-get($color-scheme-dark, "$color-brand-primary-0"),
          map-get($color-scheme-dark, "$color-neutral-neutral-3")
        );
      }

      &:disabled {
        @include buttonStyles(
          transparent,
          map-get($color-scheme-dark, "$color-neutral-neutral-3"),
          transparent
        );
      }
    }
  }

  &__secondary {
    @include buttonStyles(
      map-get($color-scheme-light, "$color-feedback-success-0"),
      map-get($color-scheme-light, "$color-neutral-neutral-7"),
      map-get($color-scheme-light, "$color-feedback-success-0")
    );

    &:hover {
      @include buttonStyles(
        map-get($color-scheme-light, "$color-feedback-success-3"),
        map-get($color-scheme-light, "$color-neutral-neutral-7"),
        map-get($color-scheme-light, "$color-feedback-success-3")
      );
    }

    &:focus {
      @include buttonStyles(
        map-get($color-scheme-light, "$color-feedback-success-3"),
        map-get($color-scheme-light, "$color-neutral-neutral-7"),
        map-get($color-scheme-light, "$color-feedback-success-3")
      );
    }

    &:disabled {
      @include buttonStyles(
        map-get($color-scheme-light, "$color-neutral-neutral-3"),
        map-get($color-scheme-light, "$color-neutral-neutral-7"),
        map-get($color-scheme-light, "$color-neutral-neutral-3")
      );
    }

    &--outlined {
      @include buttonStyles(
        transparent,
        map-get($color-scheme-light, "$color-feedback-success-0"),
        map-get($color-scheme-light, "$color-feedback-success-0")
      );

      &:hover {
        @include buttonStyles(
          map-get($color-scheme-light, "$color-feedback-success-1"),
          map-get($color-scheme-light, "$color-feedback-success-0"),
          map-get($color-scheme-light, "$color-feedback-success-0")
        );
      }

      &:focus {
        @include buttonStyles(
          transparent,
          map-get($color-scheme-light, "$color-feedback-success-0"),
          map-get($color-scheme-light, "$color-neutral-neutral-3")
        );
      }

      &:disabled {
        @include buttonStyles(
          transparent,
          map-get($color-scheme-light, "$color-neutral-neutral-3"),
          map-get($color-scheme-light, "$color-neutral-neutral-3")
        );
      }
    }

    &--text {
      @include buttonStyles(
        transparent,
        map-get($color-scheme-light, "$color-feedback-success-0"),
        transparent
      );

      &:hover {
        @include buttonStyles(
          map-get($color-scheme-light, "$color-feedback-success-1"),
          map-get($color-scheme-light, "$color-feedback-success-0"),
          transparent
        );
      }

      &:focus {
        @include buttonStyles(
          transparent,
          map-get($color-scheme-light, "$color-feedback-success-0"),
          map-get($color-scheme-light, "$color-neutral-neutral-3")
        );
      }

      &:disabled {
        @include buttonStyles(
          transparent,
          map-get($color-scheme-light, "$color-neutral-neutral-3"),
          transparent
        );
      }
    }
  }

  .dark-mode &__secondary {
    @include buttonStyles(
      map-get($color-scheme-dark, "$color-feedback-success-0"),
      map-get($color-scheme-dark, "$color-neutral-neutral-7"),
      map-get($color-scheme-dark, "$color-feedback-success-0")
    );

    &:hover {
      @include buttonStyles(
        map-get($color-scheme-dark, "$color-feedback-success-3"),
        map-get($color-scheme-dark, "$color-neutral-neutral-7"),
        map-get($color-scheme-dark, "$color-feedback-success-3")
      );
    }

    &:focus {
      @include buttonStyles(
        map-get($color-scheme-dark, "$color-feedback-success-3"),
        map-get($color-scheme-dark, "$color-neutral-neutral-7"),
        map-get($color-scheme-dark, "$color-feedback-success-3")
      );
    }

    &:disabled {
      @include buttonStyles(
        map-get($color-scheme-dark, "$color-neutral-neutral-3"),
        map-get($color-scheme-dark, "$color-neutral-neutral-7"),
        map-get($color-scheme-dark, "$color-neutral-neutral-3")
      );
    }

    &--outlined {
      @include buttonStyles(
        transparent,
        map-get($color-scheme-dark, "$color-feedback-success-0"),
        map-get($color-scheme-dark, "$color-feedback-success-0")
      );

      &:hover {
        @include buttonStyles(
          map-get($color-scheme-dark, "$color-feedback-success-1"),
          map-get($color-scheme-dark, "$color-feedback-success-0"),
          map-get($color-scheme-dark, "$color-feedback-success-0")
        );
      }

      &:focus {
        @include buttonStyles(
          transparent,
          map-get($color-scheme-dark, "$color-feedback-success-0"),
          map-get($color-scheme-dark, "$color-neutral-neutral-3")
        );
      }

      &:disabled {
        @include buttonStyles(
          transparent,
          map-get($color-scheme-dark, "$color-neutral-neutral-3"),
          map-get($color-scheme-dark, "$color-neutral-neutral-3")
        );
      }
    }

    &--text {
      @include buttonStyles(
        transparent,
        map-get($color-scheme-dark, "$color-feedback-success-0"),
        transparent
      );

      &:hover {
        @include buttonStyles(
          map-get($color-scheme-dark, "$color-feedback-success-1"),
          map-get($color-scheme-dark, "$color-feedback-success-0"),
          transparent
        );
      }

      &:focus {
        @include buttonStyles(
          transparent,
          map-get($color-scheme-dark, "$color-feedback-success-0"),
          map-get($color-scheme-dark, "$color-neutral-neutral-3")
        );
      }

      &:disabled {
        @include buttonStyles(
          transparent,
          map-get($color-scheme-dark, "$color-neutral-neutral-3"),
          transparent
        );
      }
    }
  }

  &__danger {
    @include buttonStyles(
      map-get($color-scheme-light, "$color-feedback-danger-0"),
      map-get($color-scheme-light, "$color-neutral-neutral-7"),
      map-get($color-scheme-light, "$color-feedback-danger-0")
    );

    &:hover {
      @include buttonStyles(
        map-get($color-scheme-light, "$color-feedback-danger-3"),
        map-get($color-scheme-light, "$color-neutral-neutral-7"),
        map-get($color-scheme-light, "$color-feedback-danger-3")
      );
    }

    &:focus {
      @include buttonStyles(
        map-get($color-scheme-light, "$color-feedback-danger-3"),
        map-get($color-scheme-light, "$color-neutral-neutral-7"),
        map-get($color-scheme-light, "$color-feedback-danger-3")
      );
    }

    &:disabled {
      @include buttonStyles(
        map-get($color-scheme-light, "$color-neutral-neutral-3"),
        map-get($color-scheme-light, "$color-neutral-neutral-7"),
        map-get($color-scheme-light, "$color-neutral-neutral-3")
      );
    }

    &--outlined {
      @include buttonStyles(
        transparent,
        map-get($color-scheme-light, "$color-feedback-danger-0"),
        map-get($color-scheme-light, "$color-feedback-danger-0")
      );

      &:hover {
        @include buttonStyles(
          map-get($color-scheme-light, "$color-feedback-danger-1"),
          map-get($color-scheme-light, "$color-feedback-danger-0"),
          map-get($color-scheme-light, "$color-feedback-danger-0")
        );
      }

      &:focus {
        @include buttonStyles(
          transparent,
          map-get($color-scheme-light, "$color-feedback-danger-0"),
          map-get($color-scheme-light, "$color-neutral-neutral-3")
        );
      }

      &:disabled {
        @include buttonStyles(
          transparent,
          map-get($color-scheme-light, "$color-neutral-neutral-3"),
          map-get($color-scheme-light, "$color-neutral-neutral-3")
        );
      }
    }

    &--text {
      @include buttonStyles(
        transparent,
        map-get($color-scheme-light, "$color-feedback-danger-0"),
        transparent
      );

      &:hover {
        @include buttonStyles(
          map-get($color-scheme-light, "$color-feedback-danger-1"),
          map-get($color-scheme-light, "$color-feedback-danger-0"),
          transparent
        );
      }

      &:focus {
        @include buttonStyles(
          transparent,
          map-get($color-scheme-light, "$color-feedback-danger-0"),
          map-get($color-scheme-light, "$color-neutral-neutral-3")
        );
      }

      &:disabled {
        @include buttonStyles(
          transparent,
          map-get($color-scheme-light, "$color-neutral-neutral-3"),
          transparent
        );
      }
    }
  }

  .dark-mode &__danger {
    @include buttonStyles(
      map-get($color-scheme-dark, "$color-feedback-danger-0"),
      map-get($color-scheme-dark, "$color-neutral-neutral-7"),
      map-get($color-scheme-dark, "$color-feedback-danger-0")
    );

    &:hover {
      @include buttonStyles(
        map-get($color-scheme-dark, "$color-feedback-danger-3"),
        map-get($color-scheme-dark, "$color-neutral-neutral-7"),
        map-get($color-scheme-dark, "$color-feedback-danger-3")
      );
    }

    &:focus {
      @include buttonStyles(
        map-get($color-scheme-dark, "$color-feedback-danger-3"),
        map-get($color-scheme-dark, "$color-neutral-neutral-7"),
        map-get($color-scheme-dark, "$color-feedback-danger-3")
      );
    }

    &:disabled {
      @include buttonStyles(
        map-get($color-scheme-dark, "$color-neutral-neutral-3"),
        map-get($color-scheme-dark, "$color-neutral-neutral-7"),
        map-get($color-scheme-dark, "$color-neutral-neutral-3")
      );
    }

    &--outlined {
      @include buttonStyles(
        map-get($color-scheme-dark, "$color-feedback-danger-0"),
        map-get($color-scheme-dark, "$color-neutral-neutral-7"),
        map-get($color-scheme-dark, "$color-feedback-danger-0")
      );

      &:hover {
        @include buttonStyles(
          map-get($color-scheme-dark, "$color-feedback-danger-3"),
          map-get($color-scheme-dark, "$color-neutral-neutral-7"),
          map-get($color-scheme-dark, "$color-feedback-danger-3")
        );
      }

      &:focus {
        @include buttonStyles(
          map-get($color-scheme-dark, "$color-feedback-danger-3"),
          map-get($color-scheme-dark, "$color-neutral-neutral-7"),
          map-get($color-scheme-dark, "$color-feedback-danger-3")
        );
      }

      &:disabled {
        @include buttonStyles(
          transparent,
          map-get($color-scheme-dark, "$color-neutral-neutral-3"),
          map-get($color-scheme-dark, "$color-neutral-neutral-3")
        );
      }
    }

    &--text {
      @include buttonStyles(
        transparent,
        map-get($color-scheme-dark, "$color-feedback-danger-0"),
        transparent
      );

      &:hover {
        @include buttonStyles(
          map-get($color-scheme-dark, "$color-feedback-danger-1"),
          map-get($color-scheme-dark, "$color-feedback-danger-0"),
          transparent
        );
      }

      &:focus {
        @include buttonStyles(
          transparent,
          map-get($color-scheme-dark, "$color-feedback-danger-0"),
          map-get($color-scheme-dark, "$color-neutral-neutral-3")
        );
      }

      &:disabled {
        @include buttonStyles(
          transparent,
          map-get($color-scheme-dark, "$color-neutral-neutral-3"),
          transparent
        );
      }
    }
  }
}
