.checkbox {
  width: 2.2rem;
  height: 2.2rem;
  border: 0.2rem solid map-get($color-scheme-light, "$color-neutral-neutral-4");
  border-radius: 0.6rem;
  padding: 0.2rem;
  transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);

  &--checked {
    background-color: map-get($color-scheme-light, "$color-brand-primary-0");
    color: map-get($color-scheme-light, "$color-neutral-neutral-7");
    border-color: map-get($color-scheme-light, "$color-brand-primary-0");
  }

  &__input {
    width: 1.4rem;
  }
}

.dark-mode .checkbox {
  border: 0.2rem solid map-get($color-scheme-dark, "$color-neutral-neutral-4");
  &--checked {
    background-color: map-get($color-scheme-dark, "$color-brand-primary-0");
    color: map-get($color-scheme-dark, "$color-neutral-neutral-7");
    border-color: map-get($color-scheme-dark, "$color-brand-primary-0");
  }
}
