.dialog {
  background-color: map-get($color-scheme-light, "$color-neutral-neutral-7");
  transition: all 0.2s ease-in-out;
  padding: 1.6rem 3.2rem 4rem 3.2rem;
  border-radius: 1.6rem;
  width: max-content;

  @include respond(phone) {
    width: 100%;
    height: 100%;
  }

  &__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    padding-top: 2rem;
  }

  &__close-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__mask {
    backdrop-filter: blur(0.2rem);
    background: rgba(11, 11, 11, 0.5);
  }
}

.dark-mode .dialog {
  background-color: map-get($color-scheme-dark, "$color-neutral-neutral-7");
}
