.dialog {
  background-color: map-get($color-scheme-light, "$color-neutral-neutral-7");
  transition: all 0.2s ease-in-out;
  padding: 16px 32px 40px 32px;
  border-radius: 1.6rem;
  width: max-content;
  gap: 24px;

  &__confirm {
    max-width: 500px;
    gap: 0;
  }

  &__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 21px;

    &--highlight {
      color: map-get($color-scheme-light, "$color-feedback-warning-4");
    }
  }

  &__footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;
  }

  &__close-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__mask {
    backdrop-filter: blur(0.2rem);
    background: rgba(11, 11, 11, 0.5);
  }
}

.dark-mode .dialog {
  background-color: map-get($color-scheme-dark, "$color-neutral-neutral-7");

  &__content {
    &--highlight {
      color: map-get($color-scheme-dark, "$color-feedback-warning-4");
    }
  }
}
