.dropdown {
  cursor: pointer;

  padding: $input-padding;
  border-radius: $input-border-radius;
  border: $border-light;
  color: $input-color-light;
  transition: all 0.3s;

  &[readonly] {
    border: 1px solid transparent;
    padding: 1rem 0;
    pointer-events: none;
    outline: none;

    .dropdown__trigger {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__wrapper {
    background-color: map-get($color-scheme-light, "$color-neutral-neutral-7");
    box-shadow: $box-shadow-light;
    border-radius: $border-radius;
  }

  &__list {
    max-height: 20rem;
    overflow: auto;

    li {
      cursor: pointer;
      padding: 1rem;
      transition: all 0.2s;

      &:hover {
        background-color: map-get(
          $color-scheme-light,
          "$color-brand-primary-1"
        );
      }
    }
  }

  &__error {
    border: 1px solid map-get($color-scheme-light, "$color-feedback-danger-0");
  }
}

.dark-mode .dropdown {
  border: $border-dark;
  color: $input-color-dark;

  &[readonly] {
    border: 1px solid transparent;
  }

  &__wrapper {
    background-color: map-get($color-scheme-dark, "$color-neutral-neutral-7");
    box-shadow: $box-shadow-dark;
  }

  &__list {
    li {
      &:hover {
        background-color: map-get($color-scheme-dark, "$color-brand-primary-1");
      }
    }
  }

  &__error {
    border: 1px solid map-get($color-scheme-dark, "$color-feedback-danger-0");
  }
}
