.dropdown {
  cursor: pointer;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: $input-padding;
  border-radius: $input-border-radius;
  border: $border-light;
  color: $input-color-light;
  transition: all 0.3s;

  &:focus-visible {
    outline: 2px solid black;
  }

  &:has(.dropdown__input[aria-disabled="true"]) {
    background-color: $color-neutral-neutral-3;
    color: $color-neutral-neutral-3;
    border: 1px solid $color-neutral-neutral-3;
    cursor: not-allowed;
  }

  &[readonly] {
    border: 1px solid transparent;
    padding: 1rem 0;
    pointer-events: none;
    outline: none;

    .dropdown__trigger {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__input {
    width: 100%;

    color: inherit;
    font-size: $input-font-size;
    font-family: inherit;
  }

  &__options {
    background-color: map-get($color-scheme-light, "$color-neutral-neutral-7");
  }

  &__list {
    max-height: 20rem;
    overflow: auto;

    li {
      cursor: pointer;
      padding: 1rem;
      transition: all 0.2s;

      &:hover {
        background-color: map-get(
          $color-scheme-light,
          "$color-brand-primary-1"
        );
      }
    }
  }

  &__error {
    display: block;
    color: map-get($color-scheme-light, "$color-feedback-danger-0");
  }
}
