.inline-message {
  position: relative;
  overflow: hidden;
  padding: $spacing-lg $spacing-md;
  border-radius: $border-radius;
  height: 5.6rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__info {
    background-color: map-get($color-scheme-light, "$color-brand-primary-1");
    color: map-get($color-scheme-light, "$color-brand-primary-4");
  }

  .dark-mode &__info {
    background-color: map-get($color-scheme-light, "$color-brand-primary-1");
    color: map-get($color-scheme-light, "$color-brand-primary-4");
  }

  &__success {
    background-color: map-get($color-scheme-light, "$color-feedback-success-1");
    color: map-get($color-scheme-light, "$color-feedback-success-4");
  }

  .dark-mode &__success {
    background-color: map-get($color-scheme-dark, "$color-feedback-success-1");
    color: map-get($color-scheme-dark, "$color-feedback-success-4");
  }

  &__warn {
    background-color: map-get($color-scheme-light, "$color-feedback-warning-1");
    color: map-get($color-scheme-light, "$color-feedback-warning-4");
  }

  .dark-mode &__warn {
    background-color: map-get($color-scheme-dark, "$color-feedback-warning-1");
    color: map-get($color-scheme-dark, "$color-feedback-warning-4");
  }

  &__error {
    background-color: map-get($color-scheme-light, "$color-feedback-danger-1");
    color: map-get($color-scheme-light, "$color-feedback-danger-4");
  }

  .dark-mode &__error {
    background-color: map-get($color-scheme-dark, "$color-feedback-danger-1");
    color: map-get($color-scheme-dark, "$color-feedback-danger-4");
  }

  &__text {
    margin: 0 0.8rem;
  }
}
