.input {
  width: 100%;
  position: relative;

  &:has(.input__icon) .input__field {
    padding-left: 3.5rem;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);

    &--password {
      font-size: 1.7rem;
      cursor: pointer;
      position: absolute;
      top: 30%;
      right: 5%;
    }

    .light-mode &--password {
      color: map-get($color-scheme-light, "$color-neutral-neutral-1");
    }

    .dark-mode &--password {
      color: map-get($color-scheme-dark, "$color-neutral-neutral-1");
    }
  }

  &__field {
    width: 100%;
    display: block;

    font-size: $font-size-body-primary;
    font-family: inherit;

    padding: $input-padding;
    border-radius: $input-border-radius;
    transition: all 0.3s;

    color: map-get($color-scheme-light, "$color-neutral-neutral-2");
    border: 1px solid map-get($color-scheme-light, "$color-neutral-neutral-4");
    background-color: map-get($color-scheme-light, "$color-neutral-neutral-7");

    &:read-only {
      border: 1px solid transparent;
      padding: 1rem 0;
      outline: none;
    }

    &:disabled {
      background-color: map-get(
        $color-scheme-light,
        "$color-neutral-neutral-3"
      );
      color: map-get($color-scheme-light, "$color-neutral-neutral-3");
      border: 1px solid map-get($color-scheme-light, "$color-neutral-neutral-3");
      cursor: not-allowed;
    }

    &:focus {
      outline-color: map-get($color-scheme-light, "$color-brand-primary-0");
    }
  }

  .dark-mode &__field {
    color: map-get($color-scheme-dark, "$color-neutral-neutral-2");
    border: 1px solid map-get($color-scheme-dark, "$color-neutral-neutral-4");
    background-color: map-get($color-scheme-dark, "$color-neutral-neutral-7");

    &:focus {
      outline-color: map-get($color-scheme-dark, "$color-brand-primary-0");
    }
  }

  .error {
    border: 1px solid map-get($color-scheme-light, "$color-feedback-danger-0");
  }

  &__error {
    display: block;
    color: map-get($color-scheme-light, "$color-feedback-danger-0");
    padding: 0.5rem 1rem 0;
  }
}
