.input {
  position: relative;

  &:has(.input__icon) .input__field {
    padding-left: 3.5rem;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);

    &--password {
      position: absolute;
      top: 25%;
      right: 5%;

      cursor: pointer;
      font-size: $font-size-title-3;
      color: $color-neutral-neutral-1;
    }
  }

  &__field {
    width: 100%;
    display: block;

    color: $color-neutral-neutral-2;
    font-size: $font-size-body-primary;
    font-family: inherit;

    padding: $input-padding;
    border-radius: $input-border-radius;
    border: 1px solid $color-neutral-neutral-4;

    transition: all 0.3s;
    background-color: $color-neutral-neutral-7;

    &:read-only {
      border: 1px solid transparent;
    }

    &:disabled {
      background-color: $color-neutral-neutral-3;
      color: $color-neutral-neutral-3;
      border: 1px solid $color-neutral-neutral-3;
      cursor: not-allowed;
    }
  }

  .error {
    border: 1px solid $color-feedback-danger-0;
  }

  &__error {
    display: block;
    color: $color-feedback-danger-0;
    padding: 0.5rem 1rem 0;
  }
}
