.listbox {
  &__item {
    padding: 0.75rem 2rem;
    font-size: $font-size-body-secondary;
    line-height: $line-height-body-secondary;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      background-color: map-get($color-scheme-light, "$color-brand-primary-1");
      color: map-get($color-scheme-light, "$color-brand-primary-0");
    }

    &--selected {
      background-color: map-get($color-scheme-light, "$color-brand-primary-1");
    }
  }
}

.dark-mode .listbox {
  &:hover {
    background-color: map-get($color-scheme-dark, "$color-brand-primary-1");
  }

  &--selected {
    background-color: map-get($color-scheme-dark, "$color-brand-primary-1");
    color: map-get($color-scheme-dark, "$color-brand-primary-0");
  }
}
