.tab-list {
  display: flex;
  position: relative;
  border-bottom: 1px solid
    map-get($color-scheme-light, "$color-neutral-neutral-5");
  overflow: auto;

  &__item {
    width: max-content;
    display: flex;
    align-items: baseline;
    gap: 1rem;

    transition: all 0.3s ease;
    position: relative;
    cursor: pointer;
    padding: 1.6rem;
    border-bottom: 2px solid
      map-get($color-scheme-light, "$color-neutral-neutral-5");
  }

  &__content {
    margin-top: 2rem;
  }

  &__inkbar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background: map-get($color-scheme-light, "$color-brand-primary-0");
    transition: all 0.2s ease;
  }

  [data-p-highlight="true"] {
    color: map-get($color-scheme-light, "$color-brand-primary-0");
  }
}

.dark-mode .tab-list {
  border-bottom: 1px solid
    map-get($color-scheme-dark, "$color-neutral-neutral-5");

  &__item {
    border-bottom: 2px solid
      map-get($color-scheme-dark, "$color-neutral-neutral-5");
  }

  &__inkbar {
    background: map-get($color-scheme-dark, "$color-brand-primary-0");
  }

  [data-p-highlight="true"] {
    color: map-get($color-scheme-dark, "$color-brand-primary-0");
  }
}
