.table {
  width: 100%;
  text-align: left;
  font-family: inherit;
  font-size: 2rem;
  color: map-get($color-scheme-light, "$color-neutral-neutral-0");
  border: $border-light;
  border-collapse: collapse;

  &__container {
    display: grid;
    gap: 24px;
  }

  &__download {
    width: 285px;
    align-self: flex-end;
  }

  &__sort {
    display: grid;
    place-content: center;
    width: 30px;
    height: 30px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: map-get($color-scheme-light, "$color-brand-primary-1");
      color: map-get($color-scheme-light, "$color-brand-primary-0");
    }
  }

  &__filter {
    padding: 1.2rem 0;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    background-color: map-get($color-scheme-light, "$color-neutral-neutral-7");

    input {
      @extend .input__field;
      width: 85%;
      margin: 0 auto 1rem;
    }

    &--icon {
      background-color: transparent;
      width: 30px;
      height: 30px;
      border-radius: 40px;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: map-get(
          $color-scheme-light,
          "$color-brand-primary-1"
        );
        color: map-get($color-scheme-light, "$color-brand-primary-0");
      }

      svg {
        width: 1.7rem;
        height: 1.7rem;
        color: map-get($color-scheme-light, "$color-neutral-neutral-1");
      }
    }

    &--footer {
      padding: 1rem 2rem;
      display: flex;
      align-items: center;
      gap: 4px;
      border-bottom-left-radius: 0.8rem;
      border-bottom-right-radius: 0.8rem;

      background-color: map-get(
        $color-scheme-light,
        "$color-neutral-neutral-7"
      );

      button {
        min-width: max-content;
      }
    }
  }

  &__header {
    background-color: map-get($color-scheme-light, "$color-neutral-neutral-6");
    position: relative;

    &--content {
      min-width: max-content;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      height: 100%;
      background-color: map-get(
        $color-scheme-light,
        "$color-neutral-neutral-6"
      );
    }

    &--options {
      transition: all 0.5s ease-in-out;
      padding: 8px;
      background-color: map-get(
        $color-scheme-light,
        "$color-neutral-neutral-6"
      );
      border: $border-light;
      border-bottom-style: none;
    }

    &--options-selection {
      transition: all 0.5s ease-in-out;
      display: grid;
      grid-template-columns: 0fr;
      justify-content: end;
      padding: 2rem 0;
    }

    &--filter {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        width: max-content;
      }

      label {
        display: flex;
        align-items: center;
        position: relative;

        .pi {
          @extend .input__icon;
        }
      }

      input {
        @extend .input__field;
        padding-left: 3.5rem;
        width: 20rem;

        @include respond(phone) {
          padding-left: 5.5rem;
        }
      }

      @include respond(phone) {
        flex-direction: column;
        gap: 1rem;

        label,
        button,
        input {
          width: 100%;
        }
      }
    }

    &--see-selected {
      width: max-content;
      position: absolute;
      animation: slideInFromTop 0.5s ease-in-out;
    }

    &--cell {
      height: 4.3rem;
      padding: 0 1rem;
      border: 1px solid map-get($color-scheme-light, "$color-neutral-neutral-4");
    }

    &--frozen-cell {
      left: 0 !important;
    }

    &-content {
      span {
        width: 100%;
        text-align: center;
      }
    }
  }

  &__body {
    position: relative;

    &--row {
      transition: all 0.3s;
      &[data-p-highlight="true"] {
        background-color: map-get(
          $color-scheme-light,
          "$color-brand-primary-1"
        );
      }
    }

    &--cell {
      min-width: 16rem;
      padding: 1.5rem;
      border: $border-light;
      background-color: map-get(
        $color-scheme-light,
        "$color-neutral-neutral-7"
      );

      button {
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        padding: 0.5rem 1rem;
        transition: background 0.2s ease;
        border-radius: 10rem;
        color: map-get($color-scheme-light, "$color-brand-primary-0");

        &:hover {
          outline: 1px solid
            map-get($color-scheme-light, "$color-neutral-neutral-5");
        }
      }
    }

    &--frozen-cell {
      left: 0 !important;
    }

    &--cell-icon {
      width: 5.9rem;
      text-align: center;
    }
  }

  &__expansion {
    padding: 2rem;
    animation: slideInFromTop 0.3s ease-in-out;
    background-color: map-get($color-scheme-light, "$color-neutral-neutral-6");
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .pi {
      cursor: pointer;
      color: map-get($color-scheme-light, "$color-brand-primary-0");
    }

    .disabled {
      color: map-get($color-scheme-light, "$color-neutral-neutral-3");
    }

    .success {
      color: map-get($color-scheme-light, "$color-feedback-success-0");
    }

    .danger {
      color: map-get($color-scheme-light, "$color-feedback-danger-0");
    }
  }

  &__loading,
  &__empty {
    display: grid;
    place-content: center;
    justify-items: center;
    padding: 6.4rem 0;
  }

  &__footer {
    padding-top: 1rem;
    border: $border-light;
    border-top-style: none;
  }

  .highlight {
    color: map-get($color-scheme-light, "$color-feedback-warning-4");
    font-size: $font-size-subtitle-primary;
    line-height: $line-height-subtitle-primary;
    font-weight: $font-weight-subtitle-primary;
  }

  .positive {
    color: map-get($color-scheme-light, "$color-feedback-success-0");
  }

  .negative {
    color: map-get($color-scheme-light, "$color-feedback-danger-0");
  }
}

.dark-mode .table {
  color: map-get($color-scheme-dark, "$color-neutral-neutral-0");
  border: $border-dark;

  &__filter {
    border-top-right-radius: 0.8rem;
    background-color: map-get($color-scheme-dark, "$color-neutral-neutral-7");

    &--icon {
      color: map-get($color-scheme-dark, "$color-neutral-neutral-0");
      &:hover {
        background-color: map-get($color-scheme-dark, "$color-brand-primary-1");
      }

      svg {
        width: 1.7rem;
        height: 1.7rem;
        color: map-get($color-scheme-dark, "$color-neutral-neutral-1");
      }
    }

    &--footer {
      background-color: map-get($color-scheme-dark, "$color-neutral-neutral-7");
    }
  }

  &__header {
    background-color: map-get($color-scheme-dark, "$color-neutral-neutral-6");

    &--content {
      background-color: map-get($color-scheme-dark, "$color-neutral-neutral-6");
    }

    &--options {
      border: $border-dark;
      border-bottom-style: none;
      background: map-get($color-scheme-dark, "$color-neutral-neutral-6");
    }

    &--cell {
      border: $border-dark;
    }
  }

  &__body {
    &--row {
      &[data-p-highlight="true"] {
        background-color: map-get($color-scheme-dark, "$color-brand-primary-1");
      }
    }

    &--cell {
      background-color: map-get($color-scheme-dark, "$color-neutral-neutral-7");
      border: $border-dark;

      button {
        color: map-get($color-scheme-dark, "$color-brand-primary-0");

        &:hover {
          outline: 1px solid
            map-get($color-scheme-dark, "$color-neutral-neutral-5");
        }
      }
    }

    &__action {
      .pi {
        color: map-get($color-scheme-dark, "$color-brand-primary-0");
      }

      .success {
        color: map-get($color-scheme-dark, "$color-feedback-success-0");
      }

      .danger {
        color: map-get($color-scheme-dark, "$color-feedback-danger-0");
      }
    }
  }

  &__expansion {
    background-color: map-get($color-scheme-dark, "$color-neutral-neutral-6");
  }

  .highlight {
    color: map-get($color-scheme-dark, "$color-feedback-warning-4");
  }

  .positive {
    color: map-get($color-scheme-dark, "$color-feedback-success-0");
  }

  .negative {
    color: map-get($color-scheme-dark, "$color-feedback-danger-0");
  }
}

[data-pc-section="checkbox"],
[data-pc-section="headercheckbox"] {
  position: absolute;
  top: 10%;
  left: 5%;

  svg {
    color: white;
    width: 80%;
  }
}

.p-datatable-loading-overlay .p-component-overlay {
  all: unset;
}
