.table {
  width: 100%;
  text-align: left;
  font-family: inherit;
  font-size: 2rem;
  color: map-get($color-scheme-light, "$color-neutral-neutral-0");
  border: $border-light;
  border-collapse: collapse;

  &__loading {
  }

  &__filter {
    padding: 1.2rem 0;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    background-color: map-get($color-scheme-light, "$color-neutral-neutral-7");

    input {
      @extend .input__field;
      width: 85%;
      margin: 0 auto 1rem;
    }

    &--icon {
      background-color: transparent;
      border-radius: 2.1rem;
      display: grid;
      place-content: center;
      padding: 0.8rem;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: map-get(
          $color-scheme-light,
          "$color-brand-primary-1"
        );
      }

      svg {
        width: 1.7rem;
        height: 1.7rem;
        color: map-get($color-scheme-light, "$color-neutral-neutral-1");
      }
    }

    &--footer {
      padding: 1rem 2rem;
      display: flex;
      align-items: center;
      gap: 2rem;
      border-bottom-left-radius: 0.8rem;
      border-bottom-right-radius: 0.8rem;

      background-color: map-get(
        $color-scheme-light,
        "$color-neutral-neutral-7"
      );
    }
  }

  &__header {
    background-color: map-get($color-scheme-light, "$color-neutral-neutral-6");
    position: relative;

    &--content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--options {
      transition: all 0.5s ease-in-out;
      display: grid;
      grid-template-columns: 1fr;
      justify-content: end;
      padding: 2rem 0.8rem;
      background-color: map-get(
        $color-scheme-light,
        "$color-neutral-neutral-6"
      );
      border: $border-light;
      border-bottom-style: none;
    }

    &--options-selection {
      transition: all 0.5s ease-in-out;
      display: grid;
      grid-template-columns: 0fr;
      justify-content: end;
      padding: 2rem 0;
    }

    &--filter {
      width: 100%;
      display: flex;
      justify-content: space-between;

      button {
        width: max-content;
      }

      label {
        display: flex;
        align-items: center;
        position: relative;

        .pi {
          @extend .input__icon;
        }
      }

      input {
        @extend .input__field;
        padding-left: 3.5rem;
        width: 20rem;
      }
    }

    &--see-selected {
      width: max-content;
      position: absolute;
      animation: slideInFromTop 0.5s ease-in-out;
    }

    &--cell {
      width: 2rem;
      height: 4.3rem;
      padding: 0 1rem;
      border: 1px solid map-get($color-scheme-light, "$color-neutral-neutral-4");
    }
  }

  &__body {
    position: relative;

    &--row {
      transition: all 0.3s;
      &[data-p-highlight="true"] {
        background-color: map-get(
          $color-scheme-light,
          "$color-brand-primary-1"
        );
      }
    }

    &--cell {
      width: 2rem;
      padding: 2rem 1rem;
      border: $border-light;
      background-color: map-get(
        $color-scheme-light,
        "$color-neutral-neutral-7"
      );

      button {
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        padding: 0.5rem 1rem;
        transition: background 0.2s ease;
        border-radius: 10rem;
        color: map-get($color-scheme-light, "$color-brand-primary-0");

        &:hover {
          outline: 1px solid
            map-get($color-scheme-light, "$color-neutral-neutral-5");
        }
      }
    }

    &--cell-icon {
      width: 5.9rem;
      text-align: center;
    }
  }

  &__expansion {
    padding: 2rem;
    animation: slideInFromTop 0.3s ease-in-out;
    background-color: map-get($color-scheme-light, "$color-neutral-neutral-6");
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .pi {
      cursor: pointer;
      color: map-get($color-scheme-light, "$color-brand-primary-0");
    }
  }

  &__loading,
  &__empty {
    display: grid;
    place-content: center;
    justify-items: center;
    padding: 6.4rem 0;
  }
}

.dark-mode .table {
  color: map-get($color-scheme-dark, "$color-neutral-neutral-0");
  border: $border-dark;

  &__filter {
    background-color: map-get($color-scheme-dark, "$color-neutral-neutral-7");

    &--footer {
      background-color: map-get($color-scheme-dark, "$color-neutral-neutral-7");
    }
  }

  &__header {
    background-color: map-get($color-scheme-dark, "$color-neutral-neutral-6");

    &--options {
      border: $border-dark;
      border-bottom-style: none;
      background: map-get($color-scheme-dark, "$color-neutral-neutral-6");
    }

    &--cell {
      border: $border-dark;
    }
  }

  &__body {
    &--row {
      &[data-p-highlight="true"] {
        background-color: map-get($color-scheme-dark, "$color-brand-primary-1");
      }
    }

    &--cell {
      background-color: map-get($color-scheme-dark, "$color-neutral-neutral-7");
      border: $border-dark;

      button {
        color: map-get($color-scheme-light, "$color-brand-primary-0");

        &:hover {
          outline: 1px solid
            map-get($color-scheme-dark, "$color-neutral-neutral-5");
        }
      }
    }

    &__action .pi {
      color: map-get($color-scheme-dark, "$color-brand-primary-0");
    }
  }

  &__expansion {
    background-color: map-get($color-scheme-dark, "$color-neutral-neutral-6");
  }
}

[data-pc-section="checkbox"],
[data-pc-section="headercheckbox"] {
  position: absolute;
  top: 10%;
  left: 5%;

  svg {
    color: white;
    width: 80%;
  }
}

.p-datatable-loading-overlay .p-component-overlay {
  all: unset;
}
