.toast-root {
  width: 40rem;
  top: 7rem !important;

  @include respond(phone) {
    width: 30rem;
  }
}

.toast {
  position: relative;
  overflow: hidden;

  width: 40rem;
  padding: 2rem;
  border-radius: 8px;

  display: flex;
  gap: 1rem;

  @include respond(phone) {
    width: 30rem;
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__content {
    width: 100%;
    position: relative;
  }

  &__success {
    background: map-get($color-scheme-light, "$color-feedback-success-1");
    color: map-get($color-scheme-light, "$color-feedback-success-4");

    ::after {
      @include beforeStyles(
        map-get($color-scheme-light, "$color-feedback-success-4")
      );
    }
  }

  .dark-mode &__success {
    background: map-get($color-scheme-dark, "$color-feedback-success-1");
    color: map-get($color-scheme-dark, "$color-feedback-success-4");

    ::after {
      @include beforeStyles(
        map-get($color-scheme-dark, "$color-feedback-success-4")
      );
    }
  }

  &__danger {
    background: (map-get($color-scheme-light, "$color-feedback-danger-1"));
    color: (map-get($color-scheme-light, "$color-feedback-danger-4"));

    ::after {
      @include beforeStyles(
        map-get($color-scheme-light, "$color-feedback-danger-4")
      );
    }
  }

  .dark-mode &__danger {
    background: rgba(
      map-get($color-scheme-dark, "$color-feedback-danger-4"),
      0.5
    );

    ::after {
      @include beforeStyles(
        map-get($color-scheme-dark, "$color-feedback-danger-0")
      );
    }
  }

  &__warn {
    background: rgba(
      map-get($color-scheme-light, "$color-feedback-warning-4"),
      0.5
    );

    ::after {
      @include beforeStyles(
        map-get($color-scheme-light, "$color-feedback-warning-0")
      );
    }
  }

  .dark-mode &__warn {
    background: rgba(
      map-get($color-scheme-dark, "$color-feedback-warning-4"),
      0.5
    );

    ::after {
      @include beforeStyles(
        map-get($color-scheme-dark, "$color-feedback-warning-0")
      );
    }
  }

  &__icon i {
    font-size: 28px;
  }

  &__info {
    font-size: 1.6rem;
    word-break: break-word;
    white-space: pre-line;
  }

  &__summary {
    margin-bottom: 1rem;
    font-weight: bold;
  }

  &__button {
    display: none;
    position: absolute;
    top: 10%;
    right: 5%;

    border: none;
    cursor: pointer;
    background: transparent;

    svg {
      width: 2rem;
      height: 2rem;
    }
  }
}
