.nav {
  width: 5.25rem;
  padding: 1.4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);

  height: 100%;
  z-index: 999;
  position: fixed;
  box-shadow: $box-shadow-light;
  background-color: map-get($color-scheme-light, "$color-neutral-neutral-7");

  h6,
  span {
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
    white-space: nowrap;
    transform: translateX(5rem);
    opacity: 0;
    visibility: hidden;
  }

  &__mobile {
    @include respond(phone) {
      transform: translateX(-250px);
    }

    &--visible {
      @include respond(phone) {
        transform: translateX(0);
      }
    }
  }

  &__expanded {
    width: 250px;

    h6,
    span {
      transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }

    .nav__item--subitem {
      padding: 0.8rem 1.6rem 0.8rem 3rem;
    }
  }

  &__open {
    &:hover {
      width: 250px;

      h6,
      span {
        transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
      }

      .nav__item--subitem {
        padding: 0.8rem 1.6rem 0.8rem 3rem;
      }

      .sidebar__btn {
        left: 237px;
        transform: rotate(180deg);
      }
    }
  }

  &__header {
    position: relative;
    padding: 6rem 1.6rem 0 1.6rem;
    margin-bottom: 2rem;

    span {
      display: inline-block;
    }
  }

  &__item {
    padding: 0.8rem 1.6rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: map-get($color-scheme-light, "$color-neutral-neutral-0");
    transition: all 0.3s ease;

    h6 {
      color: map-get($color-scheme-light, "$color-brand-primary-4");
    }

    &--expander {
      width: 100%;
    }

    &--active,
    &:not(.nav__menuheader):hover {
      background-color: map-get($color-scheme-light, "$color-brand-primary-1");
      color: map-get($color-scheme-light, "$color-brand-primary-0");
      cursor: pointer;
    }

    &--icon {
      margin-left: auto;
    }

    &--subitem {
      padding: 0.8rem 1.6rem;
    }

    span {
      font-weight: 500;
    }
  }

  .dark-mode &__item {
    color: map-get($color-scheme-dark, "$color-neutral-neutral-0");

    &--active,
    &:not(.nav__menuheader):hover {
      background-color: map-get($color-scheme-dark, "$color-brand-primary-1");
      color: map-get($color-scheme-dark, "$color-brand-primary-0");
    }
  }

  &__footer {
    padding: 0.8rem 1.6rem;
  }

  &__logo {
    max-width: 100%;
    margin-left: 1rem;
    margin-bottom: 1rem;

    &--narrow {
      width: 5rem;
      transform: translateX(2px);
      margin-bottom: 1rem;
    }
  }

  &__collapsed {
    @include respond(tab-port) {
      height: 100vh;
      z-index: 9999;
      position: fixed;
      top: 0;
      left: 0;
    }
  }
}

.dark-mode .nav {
  background-color: map-get($color-scheme-dark, "$color-neutral-neutral-7");
  box-shadow: $box-shadow-dark;
}

.mask {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(0.8rem);
  background-color: rgba(0, 0, 0, 0.2);

  z-index: 9998;
  position: absolute;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;

  &:nth-child(2) {
    transform: translateX(4.7rem);
    opacity: 0;
    visibility: hidden;
  }

  &-move:first-child {
    transform: translateX(-4.7rem);
    opacity: 0;
    visibility: hidden;
  }

  &-move:nth-child(2) {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

.sidebar__btn {
  width: 24px;
  height: 24px;
  border-radius: 77px;
  cursor: pointer;

  z-index: 100;
  position: absolute;
  top: 100px;
  left: 237px;
  transform: rotate(180deg);
  transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);

  &--collapsed {
    transform: rotate(0);
    left: 35px;
  }
}
